<?xml version="1.0"?>
<!-- 
  Launch file to start Autonomous navigation using a map 
  -->
<launch>
  
  <!-- Mapping -->
  <include file="$(find navigator_slam)/launch/amcl_demo.launch"/>

  <!-- Move Base node   -->
  <include file="$(find navigator_navigation)/launch/move_base.launch"/>

</launch>