<?xml version="1.0"?>
<!-- 
  Launch file to start Autonomous navigation using a map 
  -->
<launch>
  
  <!-- Mapping -->
  <include file="$(find navigator_slam)/launch/amcl_demo.launch"/>

  <!-- Move Base node   -->
  <include file="$(find navigator_sonar)/launch/move_base.launch"/>

    <!-- RVIZ -->
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find navigator_sonar)/rviz/robot_mapping.rviz" output="log"/>  


</launch>